<h1 class="header">ToDo List</h1>

<div class="container">
  <div class="row justifu-content-md-center">
    <div class="col col-lg-3">

      <div class="inputs input-group mb-3">
        <input type="text" class="form-control" placeholder="Type your task!" aria-label="Type your task!" aria-describedby="button-addon2" [(ngModel)]="newTodo">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="saveTodo()">Add</button>
      </div>

      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let todo of todos; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td class="{{(!todo.isCompleted)?'done':''}}" (click)="done(i)">{{todo.name}}</td>
            <td class="remove" style="color: red; font-weight: bold;" (click)="remove(i)">X</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>