.header {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    border: 1px solid;
    width: auto;
    max-width: 600px;
    
}

.inputs {
    display: flex;
}

.form-control {
    text-align: center;
}

.table tr td {
   word-wrap: break-word; 
   width: auto;
   max-width: 500px;
}

.done {
    text-decoration: line-through;
}

.remove:hover {
    cursor: pointer;
}